 .col-lg-8 {
    width: 59%;
	float: left;
	 position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  }
  .center-col { width:59%; margin:20px 0 0 10px;}
  .row:after {
  clear: both;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before,
.row:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.row:after {
  clear: both;
}
.row:before,
.row:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.row:after {
  clear: both;
}
.featurd-product { margin:10px 0 0 0; padding:0;}
.featurd-product h2 { font-size:18px; color:#000;}